# Number#
Numbers are used quite often in programming to keep score in games, represent data in visualizations, store information in web applications, and so on. Python treats numbers in several different ways, depending on how they are being used. Let’s first look at how Python manages integers, because they are the simplest to work with.

In [2]:
89 - 9

80

In [3]:
89 + 1

90

In [4]:
8 * 7

56

In [7]:
10 / 2 # when we divided two integers alwalys get float answer

5.0

In [8]:
# // used to removing float answer // also called floor division or integer division
print(10//2)

5

In [6]:
# ** string use to power.
print(2**2)

4

% called modulus operator.

In [10]:
10 % 3 # python doesnot display the result of division only disply the remainder

1

# Expression

An expression is a combination of values, variables, and operators.

In [5]:
age = 60

In [3]:
weight = 60

In [4]:
weight += 9
weight

69

In [4]:
3* "un"+"kom"

'unununkom'

In [5]:
'py' 'thon'

'python'

# Order of operation

When more than one operator appears in an expression, the order of evaluation
depends on the rules of precedence. For mathematical operators, Python follows
mathematical convention."PEMDAS" stand for parentheses exponential multiplication division addition and subraction.

In [6]:
 2 *(3-1)

4

In [7]:
(1+1)**5

32

In [8]:
5-3-1 # not 3.

1

# DATA TYPE

# NUMERIC

•	INTEGER

•	FLOAT

•	COMPLEX

•	BOOL

In [10]:
num = 12
type(num)

int

In [11]:
num_2 = 16.06
type(num_2)

float

In [14]:
num_3 = 6 + 5j
type(num_3)

complex

In [23]:
num_4 = num_2 < num # when we have condition to check while it's true or false.
print(num_4)
type(num_4)

False

bool

# CONVERT FROM ONE DATA TYPE TO ANOTHER DATA TYPE

In [16]:
a = 5.6
b = int(a)
print(b)
type(b)

5

int

In [18]:
k = float(b)
print(k)
type(k)

5.0

float

In [19]:
c = complex(b,k)
print(c)
type(c)

(5+5j)

complex

In [25]:
int(True)

1

In [26]:
int(False)

0

# SEQUENCE
•	LIST

•	TULPE

•	SET

•	STRING

•	RANGE

•	DICTIONARY

In [27]:
l = [4,5,6]
type(l)

list

In [28]:
t = (5,6,8)
type(t)

tuple

In [29]:
s ={9,6,8}
type(s)

set

In [30]:
a = "OWL"
type(a)

str

# operator

# Operator	
•	Arithmetic Operator 

•	Assignment Operator 

•	Relational Operator

•	Logical Operator

•	Unary Operator

In [33]:
# assignment operator
x = 5 # assignment operator is simply asign the value
x += 5
x

10

In [34]:
x -= 2
x

8

In [35]:
a,b = 5,6
print(a)
print(b)

5
6

In [36]:
# relation operator
a < b

True

In [37]:
a == b # equal

False

In [38]:
a != b # not equal

True

In [39]:
a <= b # less and equal

True

#  Logical Operator	
•	AND

•	OR

•	NOT

In [2]:
v = 9
w = 5
x = 3
v < 10 and w > 3 # and is property of multiplication

True

In [3]:
v > 10 and w > 3

False

In [4]:
v > 10 or w > 3 # or is property of addition

True

In [5]:
v > 10 or w > 7

False

In [6]:
 x = True 
not x

False

In [7]:
(v > 10 or w > 3 ) and x == 3

False