# introduction in python.
python is interpeter language.

print is a keyword—that is, a word that has special meaning for Python. It means, "Display what’s inside the parentheses." Note that print isn't capitalized. If you capitalize it, the program won’t run.

In [1]:
print("hello,world!")
# here hello,world is string or text string.

hello,world!

In [2]:
print(" what's your name?")

 what's your name?

In [3]:
"hello"

'hello'

In [8]:
print('what's your hobby?')
      # if you use single quotes, python cannot identify where the string should end

SyntaxError: invalid syntax (<ipython-input-8-01e3dc8aa89e>, line 1)

In [2]:
print('Ali\'s cat')

Ali's cat

In [1]:
"hello+world"

'hello+world'

# variable for string

In [11]:
message = " welcome to python world!"
print(message)
print(type(message)) # type() is used to find the type of variable.
id(message) # every variable is object every object has some id.
# here message is variable.variable is used to store data.
# any data or message store in  single or double quotes called string.

 welcome to python world!
<class 'str'>

100042080

In [3]:
name = "komal aftab"
gender = "Female"
reg  = "2345"
print("STUDENT CARD")
print("student name:",name)
print("Gender:",gender)
print("Registration no:",reg )

STUDENT CARD
student name: komal aftab
Gender: Female
Registration no: 2345

# Rules  for variable

•	Variable names can contain only letters, numbers, and underscores. They can start with a letter or an underscore, but not with a number. For instance, you can call a variable message_1 but not 1_message.
•	Spaces are not allowed in variable names, but underscores can be used to separate words in variable names. For example, greeting_message works, but greeting message will cause errors. 
•	Avoid using Python keywords and function names as variable names; that is, do not use words that Python has reserved for a particular programmatic purpose, such as the word print. 
•	Variable names should be short but descriptive. For example, name is better than n, student_name is better than s_n, and name_length is better than length_of_persons_name. 
•	Be careful when using the lowercase letter l and the uppercase letter O because they could be confused with the numbers 1 and 0.

In [5]:
message = "hello,python world!"
print(mesage)

NameError: name 'mesage' is not defined

# combining and concating

In [10]:
information = "python " + " is" +" programming language."
print(information)

python  is programming language.

In [5]:
age = 23
birthday_message = " happy " + str(age) +"rd"+"  Birthday"
print(birthday_message)

 happy 23rd  Birthday

In [3]:
first = 86
second = 9
print(first+second)

95

In [4]:
f1 = "500"
f2 = "60"
print(f1 + f2)

50060

In [8]:
number_1 = " test "
number_2 = 3
print(number_1*number_2) #The * operator also works with strings by multiplying the content of a string by an integer

 test  test  test

In [4]:
first_name = "komal"
last_name = "aftab"
full_name = first_name.upper() +" " + last_name.upper()
print(full_name)

KOMAL AFTAB

# changing case in string with method

In [7]:
name = "pakistan"

In [9]:
name.upper()

'PAKISTAN'

In [11]:
name.capitalize()

'Pakistan'

In [12]:
name.title()

'Pakistan'

In [13]:
name.lower()

'pakistan'

# Adding Whitespace to Strings with Tabs or Newlines

In [14]:
print("python")

python

In [16]:
print("\tpython")# \t is used to add space.

	python

In [7]:
print("\npython\njava") # to add a new line in a string ,use a character combination \n

python
java

In [22]:
print("language:\n\tpython\n\tC++\n\tjava")

language:
	python
	C++
	java

In [23]:
my_favort_lang = "  python"
my_favort_lang.lstrip() #lstrip is used to remove extra space from left side

'python'

# Stripping Whitespace

Extra whitespace can be confusing in your programs. To programmers 'python' and 'python ' look pretty much the same. But to a program, they are two different strings. Python detects the extra space in 'python ' and considers it significant unless you tell it otherwise.

In [24]:
my_favort_lang = "python   "
my_favort_lang.rstrip()# rstrip is used to remove space from right side.

'python'

In [26]:
my_favort_lang = "  python  "
my_favort_lang.strip()# strip is used to remove exrtra space on both side.

'python'

In [6]:
my_favort_lang = "  python"
my_favort_lang.lstrip()# lstrip is used to remove space from left side.

'python'

# variable for number

# Numbers are used quite often in programming to keep score in games, represent data in visualizations, store information in web applications, and so on. Python treats numbers in several different ways, depending on how they are being used. Let’s first look at how Python manages integers, because they are the simplest to work with

In [1]:
 x = 2+3
print(x)

5

In [28]:
2-5

-3

In [29]:
5*3

15

In [30]:
6/3

2.0

In [6]:
6**2 # **  is used exponential or power.

36

In [8]:
10 % 3 # % called modulo operator.  It gives you the remainder after the first number is divided by second number.

1