# Variable #

In [ ]:
## variable for string ##

In [1]:
message ='hello python world!'
print(message)

hello python world!

In [2]:
message ='hello  smarter way to learn  python'
print(message)

hello  smarter way to learn  python

In [3]:
print(message)

hello  smarter way to learn  python

In [ ]:
note:
 1:variable cannot start with numbers always start with letter.
 2:space are not in variabes.we use _ for space.for example komal_aftab.

In [4]:
name ="komal aftab"
cnic ="31202-4170859-6"
reg ="2171"
print("student card")
print('student name:',name)
print('cnic:',cnic)
print('reg#:',reg)

student card
student name: komal aftab
cnic: 31202-4170859-6
reg#: 2171

In [ ]:
name = 'komal'
here name is called variable.
'komal'is called string.

In [ ]:
## variable for numbers ##

In [5]:
weight = 50
weight + 8

58

In [7]:
original_num = 98
add_to_num = 2
new_num = original_num + add_to_num

what is illega character?
2nd_runner_up
here 2 is illega character

# changing case in a string with method#

In [10]:
name = "pakistan"
print(name.capitalize())

Pakistan

In [11]:
print(name.title())

Pakistan

In [12]:
print(name.upper())

PAKISTAN

In [13]:
print(name.lower())

pakistan

# combining or concatenating#

In [19]:
first_name = "komal" 
last_name =  "aftab"
full_name = first_name + " "+ last_name
print(full_name)

komal aftab